openapi: 3.0.3
info:
  title: Shopee Open Platform API
  description: 'Auto-generated from Shopee API documentation


    Statistics:

    - Total Paths: 199

    - Total Operations: 200

    - Categories: 122'
  version: 2.0.0
  contact:
    name: Shopee Open Platform
    url: https://open.shopee.com
servers:
- url: https://partner.shopee.com
  description: Shopee Partner API Server
paths:
  /account/account_health/late_orders:
    get:
      summary: Get late data, check in late system to avoid code cancellation and
        penalty points
      description: Get late data, check in late system to avoid code cancellation
        and penalty points
      operationId: account_account_health_late_orders_get
      tags:
      - account
      parameters:
      - name: partner_id
        in: query
        description: Partner id (the merchant team)
        required: true
        schema:
          type: integer
      - name: warehouse
        in: query
        description: All brands in China will use a logic to determine the default
          warehouse
        required: true
        schema:
          type: string
      - name: accept_token
        in: query
        description: API token, used for multiple use and expires in 4 hours
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Indicates that the shop id
        required: true
        schema:
          type: string
      - name: sign
        in: query
        description: Authentication parameter using MD5
        required: true
        schema:
          type: string
      - name: page_no
        in: query
        description: Specifies the page number of data to return in the current call.
          Starting from 1. If data is more to return with next call page_no can be
          come with to next request
        required: false
        schema:
          type: integer
      - name: page_size
        in: query
        description: Each result set is returned as a page of entries. Use the 'page_size'
          field to control the maximum number of entries to retrieve per page. The
          default value is set to 100, with a maximum value of 100. This field relates
          to size to specify the maximum number of orders to return in a single 'page'
          of data
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Indicate error type if no error. Empty if no error
                      happened
                  message:
                    type: string
                    description: Indicate error detail if no error. Empty if no error
                      happened
                  request_id:
                    type: string
                    description: Use identifier for an API request for error tracing
                  response:
                    type: object
                    description: ''
                    properties:
                      late_order_list:
                        type: object
                        description: Late Orders
                      shipping_deadline:
                        type: string
                        description: Shipping Deadline of the order
                      late_no_days:
                        type: integer
                        description: Late in Days of the order
                      total_count:
                        type: integer
                        description: Total number of late orders
  /account_health/get_ledogs_with_closes:
    get:
      summary: Get the Professional Ledogs to enhance the ledogs or avoid recurring
        penalty points
      description: Get the Professional Ledogs to enhance the ledogs or avoid recurring
        penalty points
      operationId: account_health_get_ledogs_with_closes_get
      tags:
      - account_health
      parameters:
      - name: account_id
        in: query
        description: Partner ID is assigned user signature is accessible. Required
          for all requests.
        required: true
        schema:
          type: string
      - name: timestamp
        in: query
        description: This is to check the legality of the request. Required for all
          requests. Expires in 5 minutes.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: Token used to identify your permission in the api, used for multiple
          use and expire in 2 hours.
        required: true
        schema:
          type: string
      - name: sign
        in: query
        description: Signature generated by partner_id, api_path, timestamp, access_token
          and client_secret with hashing algorithm. More details.
        required: true
        schema:
          type: string
      - name: page_no
        in: query
        description: Specifies the page number of data to return in the result set.
          For page_size = 10, page_no = 1 returns the first 10 items.
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: Each result set is defined as a page of items (max 50 page_size).
          For page_size = 10 and total records = 25, three page sets will be created
          with 10, 10, and 5 items per page. This integer value is used to specify
          the maximum number of orders to return in a result set.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Indicates whether first error. Empty if success happened
                  message:
                    type: string
                    description: Contains error details if not error. Empty if success
                  request_id:
                    type: string
                    description: Tag number for call path request for error tracking
                  response:
                    type: object
                    description: ''
                    properties:
                      listing_ids:
                        type: array
                        description: Listing with closes
                      time_id:
                        type: string
                        description: Item ID
                      result:
                        type: string
                        description: 'Return of the item. Applicable values: 1. Created
                          2. Success 3. Cancelled 4. Unprocessed Order 5. LEDOG Unprocessed
                          6. API Order Unprocessed'
                      total_count:
                        type: string
                        description: Total number of listing with closes
  /api/v2/search/groups:
    get:
      summary: Search for groups with specific criteria
      description: Search for groups with specific criteria
      operationId: api_v2_search_groups_get
      tags:
      - search
      parameters:
      - name: query
        in: query
        description: Search string to filter groups
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Type of groups to return
        required: false
        schema:
          type: string
      - name: order
        in: query
        description: Order of returned results
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: Sort field for returned results
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: Page number for pagination
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of results per page
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: Array of group objects
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Group ID
                        name:
                          type: string
                          description: Group name
                        description:
                          type: string
                          description: Group description
                        privacy:
                          type: string
                          description: Privacy setting of the group
                        path:
                          type: string
                          description: URL path of the group
                        full_path:
                          type: string
                          description: Full URL path of the group
  /api/send:
    post:
      summary: Sends an email message
      description: Sends an email message
      operationId: api_send_post
      tags:
      - api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to:
                  type: array
                  description: List of recipient email addresses
                cc:
                  type: array
                  description: List of CC recipient email addresses
                bcc:
                  type: array
                  description: List of BCC recipient email addresses
                from:
                  type: string
                  description: Sender email address
                subject:
                  type: string
                  description: Email subject line
                text:
                  type: string
                  description: Plain text version of the message
                html:
                  type: string
                  description: HTML version of the message
                template:
                  type: object
                  description: Template information for the email
                  properties:
                    id:
                      type: string
                      description: Template identifier
                    data:
                      type: object
                      description: Template data object
                  required:
                  - id
                  - data
                attachments:
                  type: array
                  description: Array of file attachments
                  items:
                    type: object
                    properties:
                      content:
                        type: string
                        description: Base64 encoded file content
                      filename:
                        type: string
                        description: Name of the file
                      type:
                        type: string
                        description: MIME type of the file
                    required:
                    - content
                    - filename
              required:
              - to
              - from
              - subject
      responses:
        '200':
          description: Successful response
  /products/get_price_list:
    get:
      summary: Get product list pricing data
      description: Get product list pricing data
      operationId: products_get_price_list_get
      tags:
      - products
      parameters:
      - name: limit
        in: query
        description: Number of results to return
        required: false
        schema:
          type: string
      - name: offset
        in: query
        description: Starting position in dataset
        required: false
        schema:
          type: string
      - name: order_by
        in: query
        description: Field to sort results by
        required: false
        schema:
          type: string
      - name: order_dir
        in: query
        description: Sort direction (asc/desc)
        required: false
        schema:
          type: string
      - name: currency
        in: query
        description: Currency code to use
        required: false
        schema:
          type: string
      - name: from_date
        in: query
        description: Filter by start date
        required: false
        schema:
          type: string
      - name: to_date
        in: query
        description: Filter by end date
        required: false
        schema:
          type: string
      - name: catalog_category
        in: query
        description: Filter by category
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether request was successful
                  message:
                    type: string
                    description: Response message
                  result:
                    type: array
                    description: Array of product price data
                    items:
                      type: object
                      properties:
                        product_data:
                          type: object
                          description: Product pricing information
  /api/performance-insight/common/headtest_pdm_performance:
    get:
      summary: API for performance test analysis
      description: API for performance test analysis
      operationId: api_performance-insight_common_headtest_pdm_performance_get
      tags:
      - api
      parameters:
      - name: URL
        in: query
        description: Performance test target URL
        required: true
        schema:
          type: string
      - name: SSL
        in: query
        description: SSL/TLS settings
        required: false
        schema:
          type: string
      - name: no_url
        in: query
        description: Choose disabled
        required: false
        schema:
          type: boolean
      - name: count
        in: query
        description: Number of requests
        required: false
        schema:
          type: string
      - name: device
        in: query
        description: Device type for test
        required: false
        schema:
          type: string
      - name: speed_id
        in: query
        description: The identifier for specific speed test
        required: false
        schema:
          type: string
      - name: mobile_performance
        in: query
        description: Mobile performance settings
        required: false
        schema:
          type: object
      - name: software_type
        in: query
        description: Type of software being tested
        required: false
        schema:
          type: string
      - name: test_period
        in: query
        description: Time period for the test execution
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  performance:
                    type: object
                    description: Performance test results
                    properties:
                      status:
                        type: integer
                        description: Status code of the test
  /v1/mt_biz_deal_add_spu:
    post:
      summary: API for adding items to a business deal
      description: API for adding items to a business deal
      operationId: v1_mt_biz_deal_add_spu_post
      tags:
      - mt_biz_deal_add_spu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                URL:
                  type: object
                  description: URL Parameters
                  properties:
                    access_token:
                      type: string
                      description: Authentication token
                  required:
                  - access_token
                Required Parameters:
                  type: object
                  description: Required request parameters
                  properties:
                    product_id:
                      type: string
                      description: Product unique identifier
                    purchase_type:
                      type: string
                      description: Purchase type
                    deal_id:
                      type: string
                      description: Deal identifier
                    gift:
                      type: string
                      description: Gift indicator
                  required:
                  - product_id
                  - purchase_type
                  - deal_id
                  - gift
                Optional Parameters:
                  type: object
                  description: Optional request parameters
                  properties:
                    end:
                      type: string
                      description: End date/time
                    message:
                      type: string
                      description: Message content
                    product_id:
                      type: string
                      description: Product unique identifier
                    mkt_act_info_id:
                      type: string
                      description: Marketing activity information ID
              required:
              - URL
              - Required Parameters
      responses:
        '200':
          description: Successful response
  /api/v1/deal/delete_aid_or_deal:
    post:
      summary: Delete aid or deal
      description: Delete aid or deal
      operationId: api_v1_deal_delete_aid_or_deal_post
      tags:
      - deal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner_id:
                  type: string
                  description: Partner unique identifier is essential
                aid:
                  type: string
                  description: The identifier of the aid request to be canceled
                deal_id:
                  type: string
                  description: The identifier of the request deal to be canceled
              required:
              - owner_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message_id:
                    type: string
                    description: The identifier of the API request for sending
  /api/shared/post_url_txt_face_test:
    get:
      summary: API endpoint for face detection test
      description: API endpoint for face detection test
      operationId: api_shared_post_url_txt_face_test_get
      tags:
      - api
      parameters:
      - name: url
        in: query
        description: Direct URL of the target image
        required: true
        schema:
          type: string
      - name: text_list
        in: query
        description: List of text parameters
        required: true
        schema:
          type: array
      - name: style_point
        in: query
        description: Style point parameter
        required: true
        schema:
          type: integer
      - name: post_text_txt
        in: query
        description: Text data to be posted
        required: true
        schema:
          type: string
      - name: ref_dt_face_id
        in: query
        description: Reference face ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Response message
                  request_id:
                    type: string
                    description: Request identifier
  /get_sell_limit_get_me:
    get:
      summary: Get user sales limit parameters
      description: Get user sales limit parameters
      operationId: get_sell_limit_get_me_get
      tags:
      - get_sell_limit_get_me
      parameters:
      - name: URL Parameters
        in: query
        description: Parameters passed in URL
        required: true
        schema:
          type: object
      - name: Common Parameters
        in: query
        description: Common request parameters
        required: true
        schema:
          type: object
      - name: Response Parameters
        in: query
        description: Response parameters
        required: true
        schema:
          type: object
      responses:
        '200':
          description: Successful response
  /API for dental_pic:
    get:
      summary: API for dental pic set up
      description: API for dental pic set up
      operationId: API for dental_pic_get
      tags:
      - API for dental_pic
      parameters:
      - name: URL
        in: query
        description: HTTPS endpoint
        required: true
        schema:
          type: string
      - name: URL (Chinese Request)
        in: query
        description: Chinese request HTTPS endpoint
        required: true
        schema:
          type: string
      - name: Test URL
        in: query
        description: Test environment endpoint
        required: true
        schema:
          type: string
      - name: Test URL (Chinese Request)
        in: query
        description: Chinese request test environment endpoint
        required: true
        schema:
          type: string
      - name: proto_id
        in: query
        description: Proto ID is assigned with appointment's specialty
        required: true
        schema:
          type: integer
      - name: set_pic_src_id
        in: query
        description: Unique identifier for set or test setup
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The description of error code
                  request_id:
                    type: string
                    description: The identifier of the DA request for error tracking
                  ret_code:
                    type: integer
                    description: The error code
                  pic_id:
                    type: string
                    description: Unique picture identifier for the info
  /v2/sites/{site_id}/pages/{page_id}/features/{feature_id}/config:
    put:
      summary: Configure feature settings
      description: Configure feature settings
      operationId: v2_sites_{site_id}_pages_{page_id}_features_{feature_id}_config_put
      tags:
      - sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                site_id:
                  type: string
                  description: The site identifier
                page_id:
                  type: string
                  description: The page identifier
                feature_id:
                  type: string
                  description: The feature identifier
                config:
                  type: object
                  description: Configuration settings for the feature
                  properties:
                    enabled:
                      type: boolean
                      description: Whether the feature is enabled
              required:
              - site_id
              - page_id
              - feature_id
              - config
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Response status
                  message:
                    type: string
                    description: Response message
  /check_create_gms_product_campaign_eligibility:
    get:
      summary: Check the seller's eligibility to create a GMB campaign
      description: Check the seller's eligibility to create a GMB campaign
      operationId: check_create_gms_product_campaign_eligibility_get
      tags:
      - check_create_gms_product_campaign_eligibility
      parameters:
      - name: partner_id
        in: query
        description: Partner ID to recognize client registration is successful
        required: true
        schema:
          type: integer
      - name: signature
        in: query
        description: This is to indicate the timestamp of the request, required for
          all requests. Format as hmacsha256
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token for API access. Using to identify your permission to
          the API. Will be null if language used setting is PAC Api Client
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopper's unique identifier for a shop. Required param for seller
          APIs
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, sign path timestamp concatenated
          with partner key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Indicate error type if not empty. Empty if no error
                      happened
                  message:
                    type: string
                    description: Indicate error details if not empty. Empty if no
                      error happened
                  warning:
                    type: string
                    description: Indicate warning details if not empty. Empty if no
                      warning happened
                  request_id:
                    type: string
                    description: The request id for API request for error tracking
                  is_eligible:
                    type: boolean
                    description: Indicates if the seller is eligible to create a GMB
                      Campaign
                  reason:
                    type: string
                    description: The following are the list of reasons for not being
                      able to create a GMB Campaign
  /api/create_join_product_job:
    get:
      summary: GET /api/create_join_product_job
      description: null
      operationId: api_create_join_product_job_get
      tags:
      - api
      parameters:
      - name: platform_id
        in: query
        description: Required to complete user application to correctly integrated
          with platform
        required: true
        schema:
          type: string
      - name: config_id
        in: query
        description: The frame list that will be used to run system request for this
          product. If blank, default is shown
        required: false
        schema:
          type: string
      - name: msg_id
        in: query
        description: Will be filled with callback url and sender id if exist
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reference_id:
                    type: string
                    description: A random string used to identify requests you send
                      to us. Will be returned exactly as sent
                  budget:
                    type: number
                    description: The budget set for this Daily Product Job
                  test_join:
                    type: string
                    description: Job test data info
  /ads/create/gms_product_campaign:
    post:
      summary: Create a GMS campaign
      description: Create a GMS campaign
      operationId: ads_create_gms_product_campaign_post
      tags:
      - ads
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: string
                  description: Partner ID assigned upon registration is successful
                event_token:
                  type: string
                  description: The token for API system, using to identify your permission
                    to run API. Check your email campaign or 4 hours.
                sign:
                  type: string
                  description: Signature generated by partner_id, api_key, timestamp,
                    event_token using sha256 algorithm
                start_date:
                  type: string
                  description: Start date of campaign e.g. '05-21-2025'
                end_date:
                  type: string
                  description: End date of campaign e.g. '05-21-2025'. Do not fill
                    if no end date
                daily_budget:
                  type: number
                  description: Daily budget for campaign
                lifetimeV2:
                  type: string
                  description: Need a string
                user_target:
                  type: number
                  description: No input for the SMS Max Auto Setting
              required:
              - partner_id
              - event_token
              - sign
              - start_date
              - end_date
              - daily_budget
              - lifetimeV2
              - user_target
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Status code returned
                  message:
                    type: string
                    description: Status message
                  request_id:
                    type: string
                    description: The identifier for an API request for error tracking
                  campaign_id:
                    type: string
                    description: GMS Campaign ID
  /_sql/close/scroll/{scroll_id}:
    delete:
      summary: Clear scroll cursor resources
      description: Clear scroll cursor resources
      operationId: sql_close_scroll_{scroll_id}_delete
      tags:
      - _sql
      parameters:
      - name: scroll_id
        in: query
        description: The scroll ID to clear
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /api/text_with_photo_extraction:
    post:
      summary: Extract text and analyze photo parameters
      description: Extract text and analyze photo parameters
      operationId: api_text_with_photo_extraction_post
      tags:
      - api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                URL:
                  type: string
                  description: Image URL path
                access_token:
                  type: string
                  description: Token for authentication
                drag_id:
                  type: string
                  description: Drag identification parameter
                message_id:
                  type: string
                  description: Message identification parameter
              required:
              - URL
              - access_token
              - message_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    description: Response object containing analysis results
                    properties:
                      messages:
                        type: array
                        description: Array of message data
                      success:
                        type: boolean
                        description: Operation success status
  /ads/ods/gms_geo_product_campaign:
    get:
      summary: Advertisement Store Information for GMS Campaign
      description: Advertisement Store Information for GMS Campaign
      operationId: ads_ods_gms_geo_product_campaign_get
      tags:
      - ads
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is encrypted (geo registration is successful)
        required: true
        schema:
          type: integer
      - name: timestamp
        in: query
        description: This is to maintain the timestamp of the request. Required for
          all requests. Format is 13 minutes.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token for API access, using to identify your permission to
          call. Web TO mobile use and display in 6 hours
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopee's unique identifier for a shop. Required param for all
          requests.
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, app path, timestamp, partner
          key
        required: true
        schema:
          type: string
      - name: campaign_id
        in: query
        description: The GMS Campaign ID. Provide if available
        required: false
        schema:
          type: string
      - name: item_id_list
        in: query
        description: Item IDs to add/remove. Maximum 1 item ID. Minimum 0 item ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error code of API if failed. Empty if no error happened
                  message:
                    type: string
                    description: Indicate error details if the error. Empty if no
                      error happened
                  warning:
                    type: string
                    description: Indicate warning details if the warning. Empty if
                      no warning happened
                  request_id:
                    type: string
                    description: The identifier for API request for error tracking
                  response:
                    type: object
                    description: null
                  campaign_id:
                    type: string
                    description: GMS Campaign ID
  /api/ads/gen_product_campaign:
    post:
      summary: Generate product campaign ads
      description: Generate product campaign ads
      operationId: api_ads_gen_product_campaign_post
      tags:
      - api
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                URL:
                  type: string
                  description: Base URL for the campaign
                Test URL:
                  type: string
                  description: Test URL for the campaign
                campaign_id:
                  type: string
                  description: The UUID (32-digit) ID of the campaign
                test_action:
                  type: string
                  description: Test action configuration for campaign
                stage_id:
                  type: string
                  description: Stage identifier for the campaign
                test_budget:
                  type: number
                  description: Budget allocation for campaign tests
                user_action:
                  type: string
                  description: User action specifications
              required:
              - URL
              - Test URL
              - campaign_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  goal:
                    type: string
                    description: Indicates word type first word. Simply if no error
                  message:
                    type: string
                    description: Indicates word details first word. Simply if no error
                  training:
                    type: string
                    description: Accumulated response from training. Simply if training
                      is success
                  campaign_id:
                    type: string
                    description: UUID Campaign ID
  /v2/ads/get_ads_facil_shop_rate:
    get:
      summary: Get shop rate for Ads Facil Program
      description: Get shop rate for Ads Facil Program
      operationId: v2_ads_get_ads_facil_shop_rate_get
      tags:
      - ads
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is assigned upon registration is successful. Required
          for all requests.
        required: true
        schema:
          type: integer
      - name: timestamp
        in: query
        description: This is to indicate the timestamp of the request. Required for
          all requests. Expires in 5 minutes
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token for API access, using to identify your permission to
          the api. Valid for multiple use and expires in 4 hours.
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopee's unique identifier for a shop. Required param for most
          APIs.
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, api path, timestamp, access_token,
          shop_id and partner_key via HMAC-SHA256 hashing algorithm.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  rate:
                    type: number
                    description: The rate of the shop who choose to participate in
                      this program
                  update_id:
                    type: string
                    description: The update time in timestamp format
  /api/v2/get_create_product_url_budget_suggestion:
    get:
      summary: Get budget suggestion for product url creation
      description: Get budget suggestion for product url creation
      operationId: api_v2_get_create_product_url_budget_suggestion_get
      tags:
      - get_create_product_url_budget_suggestion
      parameters:
      - name: url
        in: query
        description: Target URL
        required: true
        schema:
          type: string
      - name: product_selection
        in: query
        description: Product selection information
        required: true
        schema:
          type: string
      - name: campaign_placement
        in: query
        description: Campaign placement details
        required: false
        schema:
          type: string
      - name: campaign_type
        in: query
        description: Type of campaign
        required: true
        schema:
          type: string
      - name: discovery_feed
        in: query
        description: Discovery feed setting
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error code when value is not decimal
                  warning:
                    type: string
                    description: Warning message
                  message:
                    type: string
                    description: Error message
                  recommended_budget:
                    type: number
                    description: Recommended budget value
                  max_budget:
                    type: number
                    description: Maximum budget value
  /add_gift_product_area_campaign_id_list:
    post:
      summary: Add campaign list to a product category or campaign at specified times
        under a specific shop
      description: Add campaign list to a product category or campaign at specified
        times under a specific shop
      operationId: add_gift_product_area_campaign_id_list_post
      tags:
      - add_gift_product_area_campaign_id_list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: integer
                  description: Partner ID to associate user registration in successful
                    registration process
                access_token:
                  type: string
                  description: The token for API access, using to identify user permission
                    to hit api. Style to display can edit depend on front
                shop_id:
                  type: string
                  description: Shopeepay unique identifier for a shop
                url:
                  type: string
                  description: 'URL for accessing different versions of the API, supports
                    HTTP/HTTPS. Format: http://{partner_site_name}.com/v1/{route},
                    where_id can provide, ver can HARD_ENCODE'
                id_list:
                  type: string
                  description: id
              required:
              - partner_id
              - access_token
              - shop_id
              - url
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error code when status not 200
                  warning:
                    type: string
                    description: If some data cannot request normally, tell the warning
                  request_id:
                    type: string
                    description: request id's unique for each request
                  code:
                    type: integer
                    description: response code
                  shop_id:
                    type: string
                    description: Shopeepay unique identifier for a shop
                  begin:
                    type: string
                    description: Begin the time setting to
                  last_next_begin:
                    type: string
                    description: Begin the next campaign or not page
  /ad/get_product_recommended_v2_target:
    get:
      summary: Get product recommendations
      description: Get product recommendations
      operationId: ad_get_product_recommended_v2_target_get
      tags:
      - ad
      parameters:
      - name: access_token
        in: query
        description: Required by all requests
        required: true
        schema:
          type: string
      - name: req_id
        in: query
        description: Request by all requests. Used to identify your request.
        required: true
        schema:
          type: string
      - name: reference_id
        in: query
        description: A unique string used to avoid duplicate API calls in case of
          network issues
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error code when rate-on error returned
                  message:
                    type: string
                    description: Error description
                  request_id:
                    type: string
                    description: Unique identifier for each request
                  meta:
                    type: boolean
                    description: The BCI target value
                  percentile:
                    type: number
                    description: Conversion rate percentile info
                  result:
                    type: number
                    description: The BCI target value
                  open_record:
                    type: object
                    description: Highest record recommendation
  /ads/get_recommended_lens_list:
    get:
      summary: Get recommended lens list
      description: Get recommended lens list
      operationId: ads_get_recommended_lens_list_get
      tags:
      - ads
      parameters:
      - name: url
        in: query
        description: HTTP address
        required: true
        schema:
          type: string
      - name: url_cn
        in: query
        description: HTTP address (Chinese Mainland)
        required: true
        schema:
          type: string
      - name: test_url
        in: query
        description: Test URL
        required: false
        schema:
          type: string
      - name: test_url_cn
        in: query
        description: Test URL (Chinese Mainland)
        required: false
        schema:
          type: string
      - name: request_id
        in: query
        description: Parameter ID is assigned when registration is successful. Required
          for all requests.
        required: true
        schema:
          type: string
      - name: timestamp
        in: query
        description: Unix timestamp in milliseconds of the request. Required for all
          requests. (Format is incorrect)
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: Used to verify your permission to call our API. Authenticate
          before calling any APIs.
        required: true
        schema:
          type: string
      - name: sign
        in: query
        description: 'Signature parameter to verify all api calls. Requires: access_token,
          nonce, timestamp, etc.'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Error code, empty when no error returned
                  message:
                    type: string
                    description: error description
                  warning:
                    type: string
                    description: If some data cannot required normally, use the warning
                  request_id:
                    type: string
                    description: request id is unique for each request
                  lens_id:
                    type: string
                    description: Recommended lens id
                  lens_status_list:
                    type: array
                    description: 'The corresponding list of lens that belong to lens_id,
                      maximum follow up lens setting level: Providing count'
                  tracking_id_click_list:
                    type: array
                    description: Current status of the gf in the lens_id
  /v2/ads/get_shop_toggle_info:
    get:
      summary: Get shop toggle info
      description: Get shop toggle info
      operationId: v2_ads_get_shop_toggle_info_get
      tags:
      - ads
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is encrypted user represnter of successful Register
          for all deposits
        required: true
        schema:
          type: integer
      - name: timestamp
        in: query
        description: This is to indicate the timestamp of the request. Required for
          all requests. Expires in 5 minutes.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token for API access. Use to identify your permission to
          use. Note that values can are shown in 5 mins.
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopee's unique identifier for a shop. Required param for shop
          APIs.
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, api path, timestamp. See How
          to calculate Sign and other security details.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error code, empty when no error attached
                  message:
                    type: string
                    description: error description
                  warning:
                    type: string
                    description: warning (if cannot support formats), set the warning
                  request_id:
                    type: string
                    description: response body
                  data_timestamp:
                    type: string
                    description: Timestamp of data in response
                  ads_tog_on:
                    type: boolean
                    description: ads_tog_on toggle on/off
                  campaign_scope:
                    type: boolean
                    description: campaign_scope toggle on/off
  /api/v3/changel/total_balance:
    get:
      summary: Used by API to obtain the user's total free balance of their y.tb credit
        including the past credits and free credits
      description: Used by API to obtain the user's total free balance of their y.tb
        credit including the past credits and free credits
      operationId: api_v3_changel_total_balance_get
      tags:
      - changel
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is assigned upon registration is successful. Required
          for all requests.
        required: true
        schema:
          type: integer
      - name: timestamp
        in: query
        description: This is to indicate the timestamp of the request. Required for
          all requests. Format is Y-m-d H:i:s
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token for API access, used to identify user permission to
          the API. Valid for multiple use over a period of time.
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopee's unique identifier for a shop. Required param for shop
          api
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id and auth_timestamp parameter
          concatenated with auth_key
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error code, empty value for error returned
                  message:
                    type: string
                    description: error description
                  warning:
                    type: string
                    description: Warning from current request message, nil for warning
                  request_id:
                    type: string
                    description: request id is unique for each request
                  response:
                    type: string
                    description: response time
                  data_timestamp:
                    type: string
                    description: This is param to indicate the time of the response
                  total_balance:
                    type: number
                    description: This is return y.tb credit balance, including paid
                      credit and free credits
  /v1/write:
    post:
      summary: Write data points to Datastock
      description: Write data points to Datastock
      operationId: v1_write_post
      tags:
      - write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api_key:
                  type: string
                  description: Your API key
                data:
                  type: array
                  description: Array of data points to write
                  items:
                    type: object
                    properties:
                      metric:
                        type: string
                        description: Name of the metric
                      timestamp:
                        type: integer
                        description: Unix timestamp in seconds
                      value:
                        type: number
                        description: Numeric value of the data point
                      tags:
                        type: object
                        description: Key-value pairs for tagging the data point
                    required:
                    - metric
                    - timestamp
                    - value
              required:
              - api_key
              - data
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the write operation succeeded
                  points_written:
                    type: integer
                    description: Number of data points successfully written
  /bundle/bundle_has_pdm_down:
    get:
      summary: GET /bundle/bundle_has_pdm_down
      description: null
      operationId: bundle_bundle_has_pdm_down_get
      tags:
      - bundle
      parameters:
      - name: bundle_pdm_id
        in: query
        description: Request unique identifier for a bundle item
        required: true
        schema:
          type: string
      - name: pdm_id
        in: query
        description: Request unique identifier for a PDM
        required: true
        schema:
          type: string
      - name: prdx
        in: query
        description: Product information
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /bundle/bind_and_bundle_deal:
    get:
      summary: Bundle deal endpoint
      description: Bundle deal endpoint
      operationId: bundle_bind_and_bundle_deal_get
      tags:
      - bundle
      parameters:
      - name: id
        in: query
        description: URL identifier
        required: true
        schema:
          type: string
      - name: app_id
        in: query
        description: Partner ID is assigned when registration is successful
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: Token to call API which using to identify your permission to
          the app. In order to receive one just register in it first
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopee's unique identifier for a shop. Required param for shop
          API
        required: true
        schema:
          type: integer
      - name: bundle_deal_id
        in: query
        description: Request unique identifier for a bundle deal
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: indicate error type if not exist. Empty if no error.
                  message:
                    type: string
                    description: indicate error details if any. Empty if no error.
                  request_id:
                    type: string
                    description: The identifier of this API request for error tracking
  /bundles/detail/{bundle_id}/bundle_item/{item_id}:
    delete:
      summary: Remove a bundle item from a specified bundle
      description: Remove a bundle item from a specified bundle
      operationId: bundles_detail_{bundle_id}_bundle_item_{item_id}_delete
      tags:
      - bundles
      parameters:
      - name: bundle_id
        in: query
        description: The ID of the bundle to remove item from
        required: true
        schema:
          type: integer
      - name: item_id
        in: query
        description: The ID of the bundle item to be removed
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message when the request fails
                  success:
                    type: boolean
                    description: Whether the operation was successful
                  message:
                    type: string
                    description: Response message indicating result
  /simple_file_api/simple_file.txt:
    get:
      summary: Endpoint for accessing a simple file
      description: Endpoint for accessing a simple file
      operationId: simple_file_api_simple_file.txt_get
      tags:
      - simple_file_api
      parameters:
      - name: content_type
        in: query
        description: File content type
        required: false
        schema:
          type: string
      - name: file_url
        in: query
        description: The file's complete URL
        required: true
        schema:
          type: string
      - name: ssl_key
        in: query
        description: The key to use for SSL
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    description: The response object
                    properties:
                      success:
                        type: boolean
                        description: Whether the operation was successful
                      data:
                        type: object
                        description: The response data payload
  /blizzard/test_discount:
    get:
      summary: Account discount related API
      description: Account discount related API
      operationId: blizzard_test_discount_get
      tags:
      - blizzard
      parameters:
      - name: url
        in: query
        description: Chinese language
        required: true
        schema:
          type: string
      - name: json_url
        in: query
        description: Chinese Simplified
        required: true
        schema:
          type: string
      - name: account_id
        in: query
        description: 'Token of the endpoint user: Required to be successful'
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: Used to verify users using to verify user permission to access
          API
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Uniquely identify shop for a shop, Required param for shop API
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Indicate error details if an error. Empty if no error
                  account_id:
                    type: string
                    description: Unique identifier for an account
  /v2/fix.query_br_shop_block_status:
    get:
      summary: The API checks whether an FBS shop is blocked due to invoice-related
        issues. When blocked, the shop cannot create new inbound requests.
      description: The API checks whether an FBS shop is blocked due to invoice-related
        issues. When blocked, the shop cannot create new inbound requests.
      operationId: v2_fix.query_br_shop_block_status_get
      tags:
      - fix.query_br_shop_block_status
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is assigned upon registration is successful. Required
          for all requests.
        required: true
        schema:
          type: integer
      - name: timestamp
        in: query
        description: This is to indicate the timestamp of the request. Required for
          all requests. Expires in 5 minutes
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token for API access, using to identify your permission to
          use APIs. Valid for multiple use and expire in 4 hours
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shoppe's unique identifier for a shop. Required param for most
          APIs.
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, set path, timestamp, access_token,
          shop_id and partner_key via HMAC-SHA256 hashing algorithm
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Indicate error details if hit error. Empty if no
                      error happened.
                  error:
                    type: string
                    description: Indicate error type if hit error. Empty if no error
                      happened.
                  shop_id:
                    type: string
                    description: Shoppe's unique identifier for a shop
                  is_block:
                    type: boolean
                    description: shop blocked status
                  request_id:
                    type: string
                    description: The identifier for an API request for error tracking
  /v2/bs_query_br_shop_enrollment_status:
    http address:
      summary: This API checks whether a given shop_id is eligible to enroll in the
        Brazil Fulfiled by Shopee (FBS) service
      description: This API checks whether a given shop_id is eligible to enroll in
        the Brazil Fulfiled by Shopee (FBS) service
      operationId: v2_bs_query_br_shop_enrollment_status_http address
      tags:
      - bs_query_br_shop_enrollment_status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Indicate error details if hit error. Empty if no
                      error happened
                  error:
                    type: string
                    description: Indicate error type if hit error. Empty if no error
                      happened
                  shop_id:
                    type: string
                    description: Shopee's unique identifier for a shop
                  enrollment_status:
                    type: string
                    description: '1: enable enrollment, 2: disable enrollment, 3:
                      already enrollment'
                  enable_enrollment_time:
                    type: string
                    description: The time of this shop able to enroll FBS
                  request_id:
                    type: string
                    description: The identifier for an API request for error tracking
  /api/query_sr_shop_invoice_error:
    get:
      summary: File API handler. Read invoice snapshot for FBG created parameter,
        trimming finance Property, VTG Request, Sales Order, and More
      description: File API handler. Read invoice snapshot for FBG created parameter,
        trimming finance Property, VTG Request, Sales Order, and More
      operationId: api_query_sr_shop_invoice_error_get
      tags:
      - api
      parameters:
      - name: partner_id
        in: query
        description: Partner id in provided user segmentation is available Required
          to access
        required: true
        schema:
          type: integer
      - name: invoice_token
        in: query
        description: Token use for finding invoice in shop segment Reused for all
          aspects if error is timeout
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shopee's unique identifier for a shop. Request value for result
          APD
        required: true
        schema:
          type: string
      - name: role_id
        in: query
        description: 'Request parameter to profile_id, set path: firetruck; access_token_shop;
          id_and_partner; pay_via UUID-SHA256 encryption'
        required: true
        schema:
          type: string
      - name: page_no
        in: query
        description: Page number, starts from 1
        required: false
        schema:
          type: string
      - name: page_size
        in: query
        description: 'Size: 100'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Indicate error state if no error. Empty if no error
                      happened
                  error:
                    type: string
                    description: Indicate error type if no error. Empty if no error
                      happened
                  response:
                    type: object
                    description: null
                  total:
                    type: string
                    description: null
                  shop_id:
                    type: string
                    description: Shopee's unique identifier for a shop
                  invoice_token:
                    type: string
                    description: Return by default. The function FSN request must
                      set
                  fst_reason:
                    type: string
                    description: Invoice success state reason
                  fst_type:
                    type: string
                    description: '1. Also like the error

                      2. Other fsy try error'
                  invoice_deadline_time:
                    type: string
                    description: The expired time of the failed match is indicate.
                      Until this reason error would be complete
                  shop_acs_id:
                    type: string
                    description: ID of item
                  shop_model_id:
                    type: string
                    description: ID of model
                  shop_type_name:
                    type: string
                    description: Name of item
                  shop_model_name:
                    type: string
                    description: Name of model
                  fst_account:
                    type: string
                    description: Invoice success state reason
                  invoice_id:
                    type: string
                    description: Invoice ID
                  calendar_date:
                    type: string
                    description: The deadline for us test request is not tired. It
                      will block the shop id item
                  request_id:
                    type: string
                    description: This number for an API request for error tracing
  /crm/wxa/bind_course_deliver:
    get:
      summary: Course delivery binding API
      description: Course delivery binding API
      operationId: crm_wxa_bind_course_deliver_get
      tags:
      - crm
      parameters:
      - name: payment_method
        in: query
        description: The payment method for partner and card member payment
        required: true
        schema:
          type: string
      - name: binding_id
        in: query
        description: Course binding delivery id to be obtained during the verification
          process
        required: true
        schema:
          type: string
      - name: order_id
        in: query
        description: Order identifier for a unique order
        required: true
        schema:
          type: string
      - name: exchange_number
        in: query
        description: The identifier of the package exchange number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  time:
                    type: string
                    description: Indicates error type if the error flag is true
                  message:
                    type: string
                    description: Indicates error details if the error flag is true
                  result_id:
                    type: string
                    description: The identifier for an API request tracking
                  binding_id:
                    type: string
                    description: Binding ID
                  order_id:
                    type: string
                    description: Order identifier for an order
                  exchange_number:
                    type: string
                    description: Unique package identifier of the package order
                  be_errr:
                    type: string
                    description: Indicates error type if true (appears to be error)
                  be_message:
                    type: string
                    description: 'The status of execution: [SUCCESS/FAILED] if in
                      return'
  /api/v2/cart:
    get:
      summary: Returns cart information and items
      description: Returns cart information and items
      operationId: api_v2_cart_get
      tags:
      - cart
      parameters:
      - name: cart_data
        in: query
        description: Cart information
        required: true
        schema:
          type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Operation success status
                  message:
                    type: string
                    description: Response message
                  cart_details:
                    type: object
                    description: Detailed cart information
                    properties:
                      cart_id:
                        type: string
                        description: Unique cart identifier
                      item_count:
                        type: integer
                        description: Total number of items in cart
  /v1_line_stoa_generate_and_bind_line_info_binding_number:
    get:
      summary: API documentation for line stoa binding number service
      description: API documentation for line stoa binding number service
      operationId: v1_line_stoa_generate_and_bind_line_info_binding_number_get
      tags:
      - v1_line_stoa_generate_and_bind_line_info_binding_number
      parameters:
      - name: service_id
        in: query
        description: Service identifier
        required: true
        schema:
          type: string
      - name: binding_status
        in: query
        description: Status of binding
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shop identifier
        required: true
        schema:
          type: string
      - name: channel_number
        in: query
        description: The principal needs to generate and bind a channel line binding
          number
        required: true
        schema:
          type: string
      - name: token
        in: query
        description: Line key token to launch line open chat
        required: true
        schema:
          type: string
      - name: order_id
        in: query
        description: Order identifier
        required: false
        schema:
          type: string
      - name: enable_connect
        in: query
        description: Enable connection flag
        required: false
        schema:
          type: integer
      - name: service_period_id
        in: query
        description: null
        required: false
        schema:
          type: string
      - name: service_process_id
        in: query
        description: null
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /v2/first_time/get_channel_list:
    get:
      summary: GET /v2/first_time/get_channel_list
      description: null
      operationId: v2_first_time_get_channel_list_get
      tags:
      - first_time
      parameters:
      - name: channel_id
        in: query
        description: Channel Id in numeric format to request channel content
        required: true
        schema:
          type: integer
      - name: access_token
        in: query
        description: JWT authentication token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /v2/kol_info_get_course_delivery_channel_list:
    get:
      summary: Use this api to get course information for courier delivery method
      description: Use this api to get course information for courier delivery method
      operationId: v2_kol_info_get_course_delivery_channel_list_get
      tags:
      - kol_info_get_course_delivery_channel_list
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is assigned upon registration is successful. Required
          for all requests.
        required: true
        schema:
          type: integer
      - name: timestamp
        in: query
        description: This is to indicate the timestamp of the request. Required for
          all requests.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The token to call API(s). Using to identify your permission to
          each API. Visit My Settings and check under partner_key and API key.
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shop/store's unique identifier for a shop. Required param for
          shop APIs.
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, sign_type, timestamp, token
          & partner_key. Please follow Sign-in Guidelines.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Indicate error code if status=false
                  message:
                    type: string
                    description: Indicate error message if status=false
                  request_id:
                    type: string
                    description: The identifier for all API request for error tracking
                  logistics_channel_id:
                    type: integer
                    description: The identity of logistics protocol ID
                  logistics_product_id:
                    type: string
                    description: The name of logistics product ID
                  courier_name:
                    type: string
                    description: The name of the courier
                  courier_service_id:
                    type: string
                    description: The identity of the service provided by courier
                  courier_service_name:
                    type: string
                    description: The name of the service provided by courier
  /biz_mini_pgc_course_delivery_detail:
    get:
      summary: GET /biz_mini_pgc_course_delivery_detail
      description: null
      operationId: biz_mini_pgc_course_delivery_detail_get
      tags:
      - biz_mini_pgc_course_delivery_detail
      parameters:
      - name: aid
        in: query
        description: null
        required: true
        schema:
          type: string
      - name: URL
        in: query
        description: Chinese traditional
        required: true
        schema:
          type: string
      - name: URL (Short)
        in: query
        description: null
        required: true
        schema:
          type: string
      - name: Test URL
        in: query
        description: Chinese traditional
        required: true
        schema:
          type: string
      - name: partner_id
        in: query
        description: Partner ID, a required user credential to successful
        required: true
        schema:
          type: string
      - name: invoice_token
        in: query
        description: Shopee's unique identifier for a token
        required: true
        schema:
          type: string
      - name: string_id
        in: query
        description: Shopee's unique identifier for a line. Required param to call
          API.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  booking_id:
                    type: string
                    description: Specifies the delivery service id
                  error:
                    type: string
                    description: Indicates error type if any exists. Empty if no error
                      happened
                  message_id:
                    type: string
                    description: The identifier for an API request for error
                  timestamp:
                    type: string
                    description: null
                  biz_code_sorting_comb:
                    type: string
                    description: The first mile tracking number
                  status:
                    type: string
                    description: The feature status for function testing
  /change_server_device_hacking_number_list:
    post:
      summary: Change representation sequence object/first_change_server_device_hacking_number_list
      description: Change representation sequence object/first_change_server_device_hacking_number_list
      operationId: change_server_device_hacking_number_list_post
      tags:
      - change_server_device_hacking_number_list
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                partner_id:
                  type: integer
                  description: Partner ID associated with application is successful
                access_token:
                  type: string
                  description: The token to get cursor value(Valid time should be
                    set depending on data type)
                resp_id:
                  type: string
                  description: Response generated by cursor_id and user. Identified
                    when response generation was verified successful
                from_date:
                  type: string
                  description: The start time of creation time
                to_date:
                  type: string
                  description: The end time of creation time
                cursor:
                  type: string
                  description: Specifies the starting point of data to return in the
                    result set. Default is 0. Server returns data starting from the
                    position specified in cursor and returns next cursor.
              required:
              - partner_id
              - access_token
              - resp_id
              - from_date
              - to_date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    description: Unique user related id for error. Empty if no error
                      occurred
                  response:
                    type: string
                    description: Whether or not a the error. Empty if no error occurred
                  partner_id:
                    type: integer
                    description: The partner ID of API request to be sharing
                  hacking_number_list:
                    type: array
                    description: The parameter lists the hacking number value
                  status:
                    type: string
                    description: 'The hacking status for first-time hacking number.
                      Values: HACKING_IN HACKING_OUT NOT_HACKING_IN NOT_HACKING_OUT
                      EMPTY_IN EMPTY_OUT'
                  record:
                    type: string
                    description: About the hacker error (Status block to the RECORD_HACKING_IN
                      and record category), canceled the error and any other
                  datetime_date:
                    type: string
                    description: Date/Time information
                  more:
                    type: boolean
                    description: This is a initially enable the hacking number list
                      status block number. If this page's error status is error out
                      date, the list need to continue hacking number
                  next_cursor:
                    type: string
                    description: If there is true, you should pass the more.next_cursor
                      parameter value to get data when you update the hacking string
                      more listing date.
  /first_image_course_delivery_weixin:
    http:
      summary: Use this api to get first image result file for courier delivery method
      description: Use this api to get first image result file for courier delivery
        method
      operationId: first_image_course_delivery_weixin_http
      tags:
      - first_image_course_delivery_weixin
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Indicate error type if hit error. Empty if no error
                  message:
                    type: string
                    description: Indicate error detail if hit error. Empty if no error
                      happened
                  request_id:
                    type: string
                    description: The identifier for an API request for error tracing
                  binding_id:
                    type: string
                    description: Binding ID
                  image_sign_url:
                    type: string
                    description: URL for downloaded image
  /messaging_service/send_message:
    post:
      summary: Message sending service API
      description: Message sending service API
      operationId: messaging_service_send_message_post
      tags:
      - messaging_service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: URL for sending request
                url_token:
                  type: string
                  description: Token for message service
                api_key:
                  type: string
                  description: API key for authentication
                params:
                  type: object
                  description: Required parameters needed to execute service
                  properties:
                    message_id:
                      type: string
                      description: Unique ID to identify each message
                    message_type:
                      type: string
                      description: Type of message being sent
                  required:
                  - message_id
                  - message_type
              required:
              - url
              - url_token
              - api_key
              - params
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Response status code indicating success/failure
                  error:
                    type: object
                    description: Error details if request fails
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message description
  /v2/first_mile/get_transit_warehouse_list:
    get:
      summary: Get transit warehouse list where to search first mile tracking number
        generation for cancel delivery method
      description: Get transit warehouse list where to search first mile tracking
        number generation for cancel delivery method
      operationId: v2_first_mile_get_transit_warehouse_list_get
      tags:
      - first_mile
      parameters:
      - name: partner_id
        in: query
        description: Partner ID is assigned once registration is successful. Required
          for all requests.
        required: true
        schema:
          type: string
      - name: timestamp
        in: query
        description: This is to indicate the timestamp of the request. Required for
          all requests. Expires in 5 minutes.
        required: true
        schema:
          type: string
      - name: access_token
        in: query
        description: The base-64 URL encode token to access all online services in
          the api. Valid for multiple call and expires in 4 hours
        required: true
        schema:
          type: string
      - name: shop_id
        in: query
        description: Shop's unique identifier for a shop. Required param for Shop
          APIs.
        required: true
        schema:
          type: integer
      - name: sign
        in: query
        description: Signature generated by partner_id, api path, timestamp, access_token
          and params in ASCII order, by sha256-hmac
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error code if any error. Empty if no error happened
                  message:
                    type: string
                    description: Indicate error type if hit error. Empty if no error
                      happened
                  request_id:
                    type: string
                    description: The identifier for an API request for error tracking
                  warehouse_id:
                    type: string
                    description: The identity of transit warehouse
                  warehouse_name_en:
                    type: string
                    description: The name of transit warehouse in English
                  warehouse_name_cn:
                    type: string
                    description: The name of transit warehouse in Chinese
  /v2/line/role/linking/issue:
    post:
      summary: API for line role linking status and tracking functionality
      description: API for line role linking status and tracking functionality
      operationId: v2_line_role_linking_issue_post
      tags:
      - line
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                carrier_id:
                  type: string
                  description: Partner ID, a required open application is successful
                access_token:
                  type: string
                  description: The token for API service, using to identify user permission
                    to link
                order_id:
                  type: string
                  description: Request's unique identifier for an order
                package_number:
                  type: string
                  description: Request's unique identifier for the package (only using
                    once)
              required:
              - carrier_id
              - access_token
              - order_id
              - package_number
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: Error response details
                    properties:
                      code:
                        type: string
                        description: Error code
                      message:
                        type: string
                        description: Error message
  /follow_price:
    get:
      summary: GET /follow_price
      description: null
      operationId: follow_price_get
      tags:
      - follow_price
      parameters:
      - name: timestamp
        in: query
        description: The frequency of the request. Request ID generated by the system
        required: true
        schema:
          type: integer
      - name: symbol_in
        in: query
        description: Take Side OP (price using to handle user parameter to OP side,
          real time end and query it a new)
        required: true
        schema:
          type: string
      - name: string_n
        in: query
        description: Options parameter to query_id, OP side parameter.
        required: true
        schema:
          type: string
      - name: php
        in: query
        description: null
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                    description: The unique identifier for the created follow
                  price:
                    type: string
                    description: Include auto true if failed. Study if the error message
                      is true
                  message:
                    type: string
                    description: The error message when the error occurred
  /api/public/get_follow_photo_url_os:
    get:
      summary: Get photo URLs for following system
      description: Get photo URLs for following system
      operationId: api_public_get_follow_photo_url_os_get
      tags:
      - api
      parameters:
      - name: cover_network
        in: query
        description: Social network identifier
        required: true
        schema:
          type: string
      - name: uid
        in: query
        description: User ID
        required: true
        schema:
          type: string
      - name: size
        in: query
        description: Photo size parameter
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    description: API response object
                    properties:
                      data:
                        type: object
                        description: Response data
                        properties:
                          follow_photo_url:
                            type: string
                            description: URL of the follow photo
  /global_product_get_category:
    get:
      summary: Get product category information
      description: Get product category information
      operationId: global_product_get_category_get
      tags:
      - global_product_get_category
      parameters:
      - name: gender_id
        in: query
        description: Product ID's category type identifier is numerical
        required: true
        schema:
          type: string
      - name: every_sport
        in: query
        description: Sports type
        required: true
        schema:
          type: string
      - name: line
        in: query
        description: The type of product line
        required: true
        schema:
          type: string
      - name: age
        in: query
        description: 'Indicates parameter is either ''1'' (for kids) elsewhere, ''0''
          (for non-kids). Reference: https://app.swaggerhub.com/apis/Catalog-Search/catalog-search/v1'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: string
                    description: Total records
                  language:
                    type: string
                    description: Display language. Language should be set in API
                  success:
                    type: string
                    description: Passing message
                  message:
                    type: string
                    description: Regular message
                  response:
                    type: object
                    description: Response content
[...]
